<h1><%= @user.username %></h1>
<p>
  <%= link_to icon('fa-edit', 'редактировать'), edit_profile_user_path(@user) %> |
  <%= link_to icon('fa-trash', 'удалить'), profile_user_path(@user),
              method: :delete, data: { confirm: 'Действительно удалить?' } %>
</p>