.jumbotron
  %h1 Ваш интернет магазин
  %p
    Быстрый надежный удобный качественный сервис.
    Нужные товары обязательно найдутся в нашем магазине.
    Как поставщики, мы прекрасно понимаем, насколько важно иметь под рукой
    нужные для вас вещи.
    Ваш поиск значительно облегчит удобный каталог, а также консультации наших специалистов.
    Для их получения достаточно отправить запрос. Мы свяжемся с вами и подберем нужные товары,
    проконсультируем по их доставке, расскажем о различиях между разными производителями.
    Купить товар по интернет-магазину гораздо проще.
    Получить дополнительные консультации можно по телефонам:
    +7 (4955) 4444444, +7 (5305) 2222222. Мы находимся по адресу: г. Большие Уки, ул. Березовая, дом 35.
    Важно: В свзи с колебаниями курса доллара цена, на заказанные товары , определяется на дату оплаты.

    Режим работы: Пн-Пт с 9-00 до 19-00, Сб с 9-00 до 16-00
