<div class='modal_form' id="modal_form_<%= pic.id %>"><!-- Сaмo oкнo -->
  <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
  <%= image_tag(pic.image.url(:intermedia)) %>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->